# Port server listens on
SERVER_PORT=3000

# Query key for access to command endpoint
# e.g. https://yourhost.io/command?access_key=1a1a1a...
BASECAMP_ACCESS_KEY=1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a

# User agent for making requests to Basecamp
# Put your email or website in parentheses
BASECAMP_USER_AGENT=Basecamp + GitHub Chatbot (example@example.org)

# Name of your GitHub organization
GITHUB_ORGANIZATION=myorganization

# Secret that will be used to sign payloads from GitHub
GITHUB_HMAC_SECRET=2b2b2b2b2b2b2b2b2b2b2b2b2b2b2b2b2b2b2b2b
